
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
  padding: 0;
  margin: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
html{
  transition: 500ms;
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul ,li{
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --Gray: #8e8e8ea9;
  --lBlue: rgba(0, 60, 255, 0.808);
  --notActive: #4db2ec;
  --tmdbDarkBlue: 3, 37, 65;
  --ungu: #7f5a83;
 --campuran:315deg, #7f5a83 0%, #0d324d 74%;
 --lightGreen:#08e0d2;
 --greens:color: #08FDD8;
 --whitey:#ffffff99;
 --surface-color: #fff;
 --curve: 40;
}

.not-found{
margin: 250px 150px;
display: flex;
gap: 20px;
align-items: center;
flex-direction: column;
justify-content: center;
}

.not-found h1{
  font-size: 80px;
}

.not-found a{
  color:var(--lBlue);
}

button {
  padding: 0.73em 1.87em;
  border-radius: 5px;
  background: transparent;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: var(--lightGreen);
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
  border: 1px solid var(--lightGreen);
  color: var(--lightGreen);
}

body{
  font-family: 'Noto Sans', sans-serif;
    transition: 500ms;
    scroll-behavior: smooth;
}

body a:hover{
    color:var(--notActive);
    transition: 300ms;
    filter: brightness(1.2);
}



.custom-dropdown{
display: none !important;
}

.custom-dropdown li{
  padding: 10px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.377);
}


.open-custom-dropdown{
  margin-top: 1px;
  position: relative;
}






/* 
----------------------------------------------------
DROP DOWN
--------------------------------------------------------
*/


/* 
----------------------------------------------------
HEADER
--------------------------------------------------------
*/
.left-search{
  display: none;
}
.hide{
  display: none;
}

.header{
    background-color:#202f5b;
    padding: 10px;
    color: white;
    z-index: 10;
    transition: 500ms;
}

.header .my-logo{
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  transition: 500ms;
}

.navbar{
  transition: 500ms;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    background-color: transparent !important;
}

.header-top{
  display: flex;
  margin: 0 50px;
  align-items: center;
  padding: 5px;
}

.header-top-title{
  display: flex;
flex-direction: column;
margin: 0;
padding: 0;
}

.header-title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.header a{
    color:#ddd;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}

.my-search{
  cursor: pointer;
}

/* 
-------------------------------------------------------
END HEADER
--------------------------------------------------------
*/

 /* BANNER */ 

.banner{
    /* background-image: url(../images/header.jpg); */
    /* height: 400px; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    border: 1px solid transparent;
    position: relative;
}

.banner-inner{
display: flex;
flex-direction: column;
justify-content: center;
position: absolute;
top: 20%;
left: 30%;
color: white;
}

.banner-title{
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
text-align: center;
}

 /* 
 --------------------------------
 END BANNER 
 -------------------------------
 */

 /*
------------------------------------------------------------------
  POST 
--------------------------------------------------------                
  */
.post-inner{
  gap: 20px;
}

.main-container{
  margin: 50px 70px;
}

.post-title a{
  color: black;
  font-weight: bold;
}

.post-title{
  font-size: 25px;
  font-weight: bold;
}


.media-content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.content p{
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 25px;
font-size: 14px;
text-align: left;
}

.back-to-top{
  position: absolute;
bottom: 0;
  right: 0;
}

.cards{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card-header img {
  width: 100%;
height: auto;
  object-fit: cover;
  object-position: center ;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.post-tag{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.post-categories{
  display: flex;
  gap: 10px;
}

.dates{
  margin-left: 12px;
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
}
.user {
  display: flex;
  margin-top: auto;
}


.user-info{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}

/*
------------------------------------------------------------------
  END POST 
--------------------------------------------------------                
 */

/*
-----------------------------------------------------------
SIDEBAR
------------------------------------------------------------
*/
.sidebar{
  top: 0;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 25px;
}
.widget-sidebar{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 30px;
}

.widget-sidebar h2,h1,h3,h4,h5,h6{
  font-size: 30px;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
}


.widget-sidebar a{
  font-size: 16px;
}
.wp-block-search__label{
  display: none;
}


.wp-block-search__input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.wp-block-search__button  {
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, 
              rgb(84, 105, 212) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.widget-sidebar .menu-footer-navigation-container ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  }
  
  .widget-sidebar ul li{
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  }
/* 
--------------------------------------------
END SIDEBAR
---------------------------------------------
*/

/*   COMMENT
--------------------------------------------
*/
.comment-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commen-inner .comment{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.comment-author{
  display: flex;
  gap: 15px;
  align-items: center;
}
.comment-author img{
width: 50px;
height: 50px;
object-fit: contain;
}

/* PAGINATION */
.single-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 100px;
}

.single-container .box{
margin: 50px 60px;
}
.paginations{
  margin: 0 30px;
}

.page-link{
display: flex;
justify-content: space-between;
}

.page-link a{
  position: relative;
}

.page-link a[rel~="next"]:after{
content: "";
background: url(../images/right-arrow.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: absolute;
height: 40px;
width: 40px;
right:-50px;
top:-4px;
}

.page-link a[rel~="prev"]:after{
  content: "";
  background: url(../images/left-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  height: 40px;
  width: 40px;
left:-50px;
  top:-4px;
  }

.nav-links{
display: flex;
gap: 10px;
}



/* CSS */
.nav-links .page-numbers.current{
  background-color:var(--whitey);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor:text;
}
.nav-links .page-numbers {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

/*  COMMENT
---------------------------------------------
*/



/* FOOTER */
.footers{
  background-color:#202f5b;
  padding: 40px;
}

.footers a{
    color: white;
}
.navbar-footer ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* END FOOTER */

@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/* 
----------------------------------------------------
RESPONSIVE
----------------------------------------------------
*/

@media (min-width: 980px) {
  .navbar-burger{
    display: none !important;
  }


  .open-custom-dropdown:hover .custom-dropdown{
display: block !important;
width: 200px;
display: flex;
flex-direction: column;
border-radius: 5px;
position: absolute;
top: 25px;
left: -20px;
background-color:#202f5b;
transform-origin: top center;
animation:rotateX 300ms ease-in-out forwards;
  } 
  
}

@media (max-width:1024){
  .navbar-burger{
    display: none !important;
  }
}
@media (max-width:980px){
  .navbar{
    margin: 0 70px;
    gap: 50px;
}
}
@media (max-width:900px){
  .main-container{
    margin: 50px 20px;
  }
  }

  @media (max-width:700px){
    
.custom-dropdown{
display: block !important;
  }

    .navbar-footer a{
   font-size: 14px;
    }

    .navbar{
      margin: 0 30px;
  }

  .single-container{
    margin: 50px 20px;
  }

  .my-dropdown{
    position: absolute;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color:#202f5b;
    transform: translateX(-286px);
top: 62px;
    padding: 25px;
    min-width: 100%;
    left: -15%;
    height: auto;
    transition: 500ms;
    opacity: 0;
    visibility: 0;
    text-align: left;
          }

          .my-dropdown a{
            font-size: 14px;
          }

          .my-dropdown ul li{
            padding: 5px;
          }
          
          .my-dropdown ul{
            display: flex;
            flex-direction: column;
          }

          .navbar-burger{
            display: block !important;
          }

          .my-dropdown.open{ 
            transform: translateX(0);
            transition: 500ms;
            opacity: 1;
    visibility: visible;
                  }


                     
    }

    @media (max-width:480px){
      .my-dropdown{
        left: -12%;
              }
    

      .open-custom-dropdown{
        margin-left: 5px;
      }
      
              .header-top-title{
                gap: 0;
              }
      }

@media (max-width:600px){
.columns{
  margin: 0;
  padding: 0;
}
}

@media (max-width:500px){
  
  .navbar-footer ul{
flex-wrap: wrap;
justify-content: center;
  }

  .navbar-footer {
    margin: 0 20px;
  }
  .navbar-footer a{
  white-space: nowrap;
  }
}

@media (max-width:400px){

  .header-top-title .title{
font-size: 17px;
  }

  .header-top-title p{
    font-size: 15px;
      }

      .main-container{
        margin: 50px 10px;
      }

      .navbar-footer ul{
        flex-direction: column;
        align-items: center;
      }

      .navbar-footer ul a{
        font-size: 14px;
      }
  }


  @media (max-width:300px){

  .single-container{
    margin: 50px 10px;
  }
  
  .main-container{
    margin: 50px 1px;
  }
  .my-dropdown{
    transform: translateY(-320px);
    width:290px;
    left: -20%;
    opacity: 0;
    visibility: 0;
          }
    
          .my-dropdown.open{ 
            transform: translateY(190px);
            transition: 500ms;
            opacity: 1;
    visibility: visible;
                  }
    }
